<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Fitness Tracker</title>
</head>
<body>
    <header>
        <h1>MY FITNESS TRACKER</h1>
    </header>
    <div>
        <p>Welcome to My Fitness Tracker! This application helps you manage your workouts, set fitness goals, and track your progress. Register or log in to get started on your fitness journey!</p>
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'register' %}"><button>Register</button></a>
    </div>
</body>
</html>
